<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Page Not Founded | ClientPortal</title>

		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<link rel="shortcut icon" href="favicon.ico">

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">     
		<link href="themes/Default/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="themes/Default/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="themes/Default/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
		<link href="themes/Default/global/css/components.css" rel="stylesheet">
		<link href="themes/Default/frontend/layout/css/style.css" rel="stylesheet">
		<link href="themes/Default/frontend/layout/css/style-responsive.css" rel="stylesheet">
		<link href="themes/Default/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
		<link href="themes/Default/frontend/layout/css/custom.css" rel="stylesheet">
	</head>
	<body class="corporate">
		<div class="header">
			<div class="container">
				<div class="col-md-2 col-sm-2">
					<a class="scroll site-logo" href="#promo-block">
						<img src="https://http://prod-aaml.zanibal.com/aegis/logo" style="height:40px"alt="Client Portal">
					</a>
				</div>

				<a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

				
			</div>
		</div>
		<!-- Header END -->

		<div class="main">
			<div class="container">
				<!-- BEGIN SIDEBAR & CONTENT -->
				<div class="row margin-bottom-40">
					<!-- BEGIN CONTENT -->
					<div class="col-md-12 col-sm-12">
						<div class="content-page page-404">
							<div class="number">
								404
							</div>
							<div class="details">
								<h3>Oops!  You're lost. </h3>
								                        <p style="color:red">%%ErrorMessage%%</p>

								<p class="small">The above message was generated when the server was processing your
                            request.</p>

                        <p class="small">If you think this is a server error, please contact the <a
                                href="mailto:%%ServerAdmin%%">webmaster</a>.</p>
								
								<p><a href="index.php?Home" class="link">Return home</a></p>
							</div>
						</div>
					</div>
					<!-- END CONTENT -->
				</div>
				<!-- END SIDEBAR & CONTENT -->
			</div>
		</div>

		<div class="pre-footer" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 pre-footer-col">
						<h2>About us</h2>

						<p>Kedari Securities is a foremost indigenous Stockbroking firm that has carved a niche for itself with the ability to provide exceptional trade execution services.</p>
						<p>Kedari Securities focuses on long term capital appreciation, generation and preservation of capital and income through disciplined management of value oriented equity.<a href="index.php?page=guest.AboutUs"><i>Read more...</i></a></p>



					</div>

					<div class="col-md-4 col-sm-6 pre-footer-col">
						<h2>Navigation</h2>
						<ul>
							<li class="current"><a href="index.php?Home">Home</a>
							</li>
							<li><a href="index.php?page=guest.AboutUs">About</a>
							</li>
							<li><a href="index.php?page=guest.HowitWorks">How it works</a>
							</li>
							<com:TControl Visible="<%= $this->User->IsGuest %>">
								<li><a href="index.php?page=guest.OpenAccount">Open an Account</a></li>
							</com:TControl>
							<li><a href="index.php?page=guest.SecurityOverview">Research & Quotes</a>
							</li>
							<li><a href="index.php?page=guest.Contact">Contact us</a></li>

						</ul>
					</div>
					<div class="col-md-4 col-sm-6 pre-footer-col">
						<h2>Our Contacts</h2>
						<address class="margin-bottom-20">
							8a, Ojora Close Off Idowu Martins,<br>
							Victoria Island,<br>
							Lagos, Nigeria.<br>
							<abbr title="Phone">P:</abbr> +234-1-2700228<br>
							<abbr title="Phone">P:</abbr> +234-1-6280035<br>
							Website: <a href="http://www.kedaricapital.com">www.kedaricapital.com</a>
						</address>

					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="row">
					<!-- BEGIN COPYRIGHT -->
					<div class="col-md-6 col-sm-6">
						<div class="copyright">Powered by Zanibal Ebroker</div>
					</div>
					<div class="col-md-6 col-sm-6 pull-right">

						<script src="themes/Default/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
						<script src="themes/Default/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
						<ul class="social-icons">
							
							<li>
								<a class="facebook" data-original-title="facebook" href="https://www.facebook.com/aamlresearch"></a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--[if lt IE 9]>
<script src="themes/Default/global/plugins/respond.min.js"></script>
<![endif]--> 
		<script src="themes/Default/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
		<script src="themes/Default/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
		<script src="themes/Default/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
		<script src="themes/Default/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->

		<script src="themes/Default/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->

		<script src="themes/Default/frontend/layout/scripts/layout.js" type="text/javascript"></script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				Layout.init();    
				Layout.initTwitter();
			});
		</script>
	</body>
</html>