<%@ MasterClass="Application.layouts.ClientLayout" %>

	<com:TContent ID="PageClass">
	</com:TContent>


	<com:TContent ID="NavSection">
			</com:TContent>
<com:TContent ID="PageContent">
	<div class="main">
		<div class="container">
			<div class="row container-margin">
				<div class="col-md-3">
					<%include Application.layouts.ClientNavBarAccount%>
						</div>
					<div class="col-md-9">
						<div class="main-content-page">
							<ul class="breadcrumb">
								<li><a href="index.php?page=client.CompleteViewByAccount"><i class="fa fa-home"></i>Home</a></li>
								<li class="active">My Statement</li>
							</ul>
							<div class="content-page">
							<h4><strong>My Statement</strong></h4>
								
				<%= $this->Application->Session['__message__'] != null  ? '<div class="alert alert-info"><a class="close" data-dismiss="alert">×</a><strong>' .$this->Application->Session['__message__'] . '</strong></div>' : '' %>

								
				<table class="table">
					<tr id="tableTitle">
						<th>Account</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td id="inOne">
						<h5 id="hideOne"><strong>Account</strong></h5>
							<com:TDropDownList AutoPostBack="true" ID="accounts" DataTextField="label"
											   DataValueField="id" CssClass="form-control"
											   OnSelectedIndexChanged="Page.updateTransactionHistoryPage"
											   ValidationGroup="Statement">
							</com:TDropDownList>
						</td>
						<td id="inOne">
						<h5 id="hideOne"><strong>Start Date</strong></h5>
							<com:TDatePicker ID="StartDate" DateFormat="dd/MM/yyyy" CssClass="reducePicker" ValidationGroup="Statement"  style="padding:8px; border:1px solid #E4E6E8"/>
							<com:TDataTypeValidator
													ValidationGroup="Orders"
													ControlToValidate="StartDate"
													Display="Dynamic"
													DataType="Date"
													DateFormat="dd/MM/yyyy"
													Text="Valid date required"/>
						</td>
						<td id="inOne">
						<h5 id="hideOne"><strong>End Date</strong></h5>
							<com:TDatePicker ID="EndDate" DateFormat="dd/MM/yyyy" CssClass="reducePicker" ValidationGroup="Statement"  style="padding:8px; border:1px solid #E4E6E8"/>
							<com:TDataTypeValidator
													ValidationGroup="Orders"
													ControlToValidate="EndDate"
													Display="Dynamic"
													DataType="Date"
													DateFormat="dd/MM/yyyy"
													Text="Valid date required"/>
						</td>
						<td class="hideBtn btnHide btnNextline" id="inOne"><com:TButton Text="Go" OnClick="updateTransactionHistoryPage" CssClass="btn blue"
										 ValidationGroup="Orders" CausesValidation="true"/>
						</td>
						<td class="btnNextline" id="inOne" >
							<com:TClientScript>
								function CashStatementFunction()
								{
								var request = <%= $this->CashStatement->ActiveControl->Javascript %>;
								request.dispatch(); 
								}
								</com:TClientScript>

								<com:TCallback ID="CashStatement" OnCallback="printCashStatement" ActiveControl.CausesValidation="false" />

								<com:THyperLink target="_blank" NavigateUrl="pdf/CashStatementOutput.php" Attributes.onClick="CashStatementFunction()" Text="Download PDF" CssClass="btn blue alignBtns" />
						</td>
					</tr>
				</table>



                <div class="portfolio-info-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="active">
                            <td>Tran Date</td>
                            <td>Value Date</td>
                            <td>Description</td>
                            <td>Debit</td>
                            <td>Credit</td>
                            <td>Balance</td>
                        </tr>
                        </thead>
                        <tbody>
                        <com:TRepeater ID="TransactionHistoryListRepeater">
                            <prop:ItemTemplate>
                                <tr style="background-color:#FFF; font-size:11px;">
                                    <td><%= Util::formatJavaDate($this->Data->transactionDate, null) %></td>
                                    <td><%= Util::formatJavaDate($this->Data->valueDate, null) %></td>
                                    <td><%#$this->Data->description%></td>
                                    <td><%= number_format($this->Data->debitAmount, 2, '.', ',') %></td>
                                    <td><%= number_format($this->Data->creditAmount, 2, '.', ',') %></td>
                                    <td><%= number_format($this->Data->balance, 2, '.', ',') %></td>
                                </tr>
                            </prop:ItemTemplate>
                        </com:TRepeater>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>



    <%include Application.layouts.ClientMarketTips%>
</com:TContent>


